<h1>Multi Choice Questions</h1>

<table>
  <tr>
    <th>Question</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @multi_choice_questions.each do |multi_choice_question| %>
  <tr>
    <td><%= multi_choice_question.question %></td>
    
    <td><%= link_to 'Show', multi_choice_question %></td>
    <td><%= link_to 'Edit', edit_multi_choice_question_path(multi_choice_question) %></td>
    <td><%= link_to 'Destroy', multi_choice_question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Multi choice question', new_multi_choice_question_path %>
