<h1>Listing short_answer_keywords</h1>

<table>
  <tr>
    <th>Keyword</th>
    <th>Short answer question</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @short_answer_keywords.each do |short_answer_keyword| %>
  <tr>
    <td><%= short_answer_keyword.keyword %></td>
    <td><%= short_answer_keyword.short_answer_question_id %></td>
    <td><%= link_to 'Show', short_answer_keyword %></td>
    <td><%= link_to 'Edit', edit_short_answer_keyword_path(short_answer_keyword) %></td>
    <td><%= link_to 'Destroy', short_answer_keyword, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Short answer keyword', new_short_answer_keyword_path %>
