<%= form_for(@short_answer_question) do |f| %>
  <% if @short_answer_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@short_answer_question.errors.count, "error") %> prohibited this short_answer_question from being saved:</h2>

      <ul>
      <% @short_answer_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <input id="short_answer_question_user_id" name="short_answer_question[user_id]" type="hidden" value= <%= current_user.id %> />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
