<h1>Short Answer Questions</h1>

<table>
  <tr>
    <th>Question</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @short_answer_questions.each do |short_answer_question| %>
  <tr>
    <td><%= short_answer_question.question %></td>
    
    <td><%= link_to 'Show', short_answer_question %></td>
    <td><%= link_to 'Edit', edit_short_answer_question_path(short_answer_question) %></td>
    <td><%= link_to 'Destroy', short_answer_question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New short answer question', new_short_answer_question_path %>
