<p id="notice"><%= notice %></p>

<h3> <%= @short_answer_question.question %> </h3>


<div id="keywords">
  <h4> Keywords </h4>
  <table>
  <%= render :partial => 'short_answer_keyword', :collection => @short_answer_question.short_answer_keywords %>
  </table>
  <%= link_to 'Add a Keyword', new_short_answer_question_short_answer_keyword_path(@short_answer_question, @short_answer_keyword) %>
  
</div>

<%= link_to 'Edit', edit_short_answer_question_path(@short_answer_question) %> |
<%= link_to 'Back', short_answer_questions_path %>
